* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(../img/espaco-sideral.jpg) fixed;
    background-size: 100%;
}

.container {
    width: 900px;
    margin: 0 auto;
    margin-top: 50px;

}

#titulo {
    text-align: center;
    color: #A14EBF;
    margin-bottom: 50px;
    text-shadow: 1px 1px black;
}


input::placeholder {
    padding-left: 10px;
}
input[type=text]{
    background: white;
    width: 160px;
    height: 40px;
    border-color: blue  ;
    border-radius: 15px;
}